<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Dashboard - Adm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <!-- Barra de navegação -->
    <header>
        <div class="logo">
            <img src="../img/logo-ascender.jpg" alt="Ascender Logo">
        </div>
        <div>
            <nav>
                <a href="home.html">Sobre</a>
            </nav>
        </div>

    </header>

    <!-- Conteúdo principal -->
    <main class="dashboard">
        <h1>Olá, adm!</h1>

        <!-- Seção de aulas -->
        <section class="admcaixa">
            <!-- Exemplo de aula inscrita -->
            <div class="caixa">
                <div>
                    <h2>Aulas</h2>
                    <a href="cadastroAula.html">+ Cadastrar aula</a>

                    <div class="caixa1">
                        <h3>Editar info</h3>
                        <p>Total : 12</p>
                        <a href="">Excluir inscrição</a>
                    </div>
                </div>
                        <div>
                        <h2>Alunos</h2>
                        <a href="cadastro.html">+ Cadastrar aluno</a>
                        <div class="caixa1">

                            <h3>Editar info</h3>
                            <p>Total : 50</p>
                            <a href="editaraluno.html">Ver detalhes</a>
                        </div>
                           </div>

                           <div>
                                <h2>Professores</h2>
                                <a href="cadastroProfessor.html">+ Cadastrar professor</a>

                                <div class="caixa1">
                                    <h3>Editar info</h3>
                                    <p>Total : 8</p>
                                    <a href="editarProfessor.html">Ver detalhes</a>
                                </div>
                           </div>

                           <div>
                                <h2>Modalidades</h2>
                                <a href="cadastroModalidade.html">+ Cadastrar modalidade</a>

                                <div class="caixa1">
                                    <h3>Editar info</h3>
                                    <p>Total : 5</p>
                                    <a href="editarModalidade.html">Ver detalhes</a>
                                </div>
                           </div>

                           <div class="relatorio">
                            <h2>Relatório</h2>

                            <div class="caixa1">
                                <h3>Inscritos por Aula</h3>
                                <p>Baixar</p>
                            </div>
                            <div class="caixa1">
                                <h3>Ocupação por Turmas</h3>
                                <p>Baixar</p>
                            </div>
                           </div>
            </div>
        </section>
    </main>

    <footer style="max-width: 100%;" class="rodape">
        <div class="conteudo-rodape">
            <div class="coluna-esquerda">
                <h3 style="font-size: 30px;">ASCENDER</h3>
                <p style="font-size: 15px;"><a href="home.html">SOBRE NÓS</a></p>
            </div>

            <div class="coluna-direita">
                <p style="font-size: 20px;">Rua das Acácias, 123</p>
                <p style="font-size: 20px;">Bairro Jardim Primavera</p>
                <p style="font-size: 20px;">São Paulo - SP</p>
                <p style="font-size: 20px;">CEP: 01234-567</p>
            </div>
        </div>
    </footer>

</body>

</html>