<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Aluno</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=  "../static/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
</head>
</head>
<body>
<!-- ===== HEADER ===== -->
<header>
  <!-- Logo -->
  <div class="logo">
        <img src="../img/logo-ascender.jpg" alt="Ascender Logo">
  </div>

  <!-- Navegação -->
  <nav>
    <a href="home.html">Sobre</a>
    <a href="dashboardaluno.html">Painel</a>
  </nav>

  <!-- Ícone de perfil -->
  <div class="perfil">
    <img src="img/perfil.png" alt="Perfil do usuário">
  </div>
</header>

    <main class="dashboard">
        <h1>Olá, aluno!</h1>

        <section>
            <div class="caixa">
                <h2>Minhas aulas</h2>
            <a href="tabelaAlunos.html">+ Inscreva-se</a>
            <div>
                <h3>Spinning</h3>
                <p>12/09 - 19h</p>
                <a href="">Excluir inscrição</a>
            </div>
            </div>
        </section>

        <div>
            <a href="editaraluno.html">Editar perfil</a>
        </div>
    </main>

    <footer style="max-width: 100%;" class="rodape">
    <div class="conteudo-rodape">
        <div class="coluna-esquerda">
            <h3 style="font-size: 30px;">ASCENDER</h3>
            <p style="font-size: 15px;"><a href="home.html">SOBRE NÓS</a></p>
    

            <div class="redes-sociais">
                <img src="../img/instagram.png" alt="Instagram">
                <img src="../img/facebook.png" alt="Facebook">
                <img src="../img/twitter.png" alt="Twitter/X">
            </div>
        </div>

        <div class="coluna-direita">
            <p style="font-size: 20px;">Rua das Acácias, 123</p>
            <p style="font-size: 20px;">Bairro Jardim Primavera</p>
            <p style="font-size: 20px;">São Paulo - SP</p>
            <p style="font-size: 20px;">CEP: 01234-567</p>
        </div>
    </div>
</footer>
</body>
</html>
