<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar modalidade</title>
    <link rel="stylesheet" href=  "../static/style.css">
</head>
<body>
    <header>
        <img src="../img/logo-ascender.jpg" alt="Ascender Logo">
        <nav>
            <a href="home.html">Sobre</a>
            <a href="dashbord_adm.html">Painel</a>
        </nav>
    </header>

    <div class="container">
        <div class="form-container">
            <h2>Edite o perfil da modalidade</h2>
            <form>
                <label for="nome">Tipo:</label>
                <input type="text" id="nome" placeholder="modalidade">

                <label for="descricao">Professor:</label>
                <input type="text" id="descricao" placeholder="Digite o nome do professor">

                <label for="descricao">Capacidade:</label>
                <input type="text" id="descricao" placeholder="Digite a capacidade da modalidade">


                <div class="buttons">
                    <button type="submit" class="save-btn">Salvar</button>
                    <button type="button" class="delete-btn">Excluir</button>
                </div>
            </form>
        </div>
        <div class="text-container">
            <p>Atualize os dados da modalidade quando necessário.</p>
        </div>
    </div>
    <footer style="max-width: 100%;" class="rodape">
    <div class="conteudo-rodape">
        <div class="coluna-esquerda">
            <h3 style="font-size: 30px;">ASCENDER</h3>
            <p style="font-size: 15px;"><a href="home.html">SOBRE NÓS</a></p>

            <div class="redes-sociais">
                <img src="../img/instagram.png" alt="Instagram">
                <img src="../img/facebook.png" alt="Facebook">
                <img src="../img/twitter.png" alt="Twitter/X">
            </div>
        </div>

        <div class="coluna-direita">
            <p style="font-size: 20px;">Rua das Acácias, 123</p>
            <p style="font-size: 20px;">Bairro Jardim Primavera</p>
            <p style="font-size: 20px;">São Paulo - SP</p>
            <p style="font-size: 20px;">CEP: 01234-567</p>
        </div>
    </div>
</footer>
    
</body>
</html>