<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Professor</title>
    <link rel="stylesheet" href=  "../static/style.css">
</head>
<body>
    
  <!-- HEADER -->
  <header>
    <div class="logo">
      <img src="img/logo-ascender.jpg" alt="Ascender Logo">
    </div>
    <nav>
      <a href="home.html">Sobre</a>
      <a href="dashbord_adm.html">Painel</a>
    </nav>
    <div class="perfil">
      <img src="img/perfil.png" alt="Usuário">
    </div>
  </header>

  <!-- MAIN -->
  <main >
    <section class="intro">
      <h2>Editar o perfil</h2>
    </section>

    <section class="cadastro-prof">
      <h2>cadastro</h2>
      <form>
        <input type="nome" placeholder="Insira seu nome" required>
        <input type="text" placeholder="Insira seu CPF" required>
        <input type="text" placeholder="Modalidade" required>
        <input type="telefone" placeholder="Insira seu telefone" required>
        <button type="submit">Concluído</button>

        <div class="buttons">
                    <button type="submit" class="save-btn">Salvar</button>
                    <button type="button" class="delete-btn">Excluir</button>
                </div>
      </form>
    </section>
    <p>
        Atualize os dados do <br> 
        professor quando<br> 
        necessário.
    </p>
  </main>
<footer style="max-width: 100%;" class="rodape">
    <div class="conteudo-rodape">
        <div class="coluna-esquerda">
            <h3 style="font-size: 30px;">ASCENDER</h3>
            <p style="font-size: 15px;"><a href="home.html">SOBRE NÓS</a></p>

            <div class="redes-sociais">
                <img src="img/TAG-removebg-preview.png" alt="Instagram">
                <img src="img/TAG__1_-removebg-preview.png" alt="Facebook">
                <img src="img/TAG__2_-removebg-preview.png" alt="Twitter/X">
            </div>
        </div>

        <div class="coluna-direita">
            <p style="font-size: 20px;">Rua das Acácias, 123</p>
            <p style="font-size: 20px;">Bairro Jardim Primavera</p>
            <p style="font-size: 20px;">São Paulo - SP</p>
            <p style="font-size: 20px;">CEP: 01234-567</p>
        </div>
    </div>
</footer>


    
</body>
</html>