<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabela de Aulas</title>

  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/tabelaAulas.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
</head>
<body>

  <!-- HEADER -->
  <header>
    <div class="logo">
      <img src="../img/logo-ascender.jpg" alt="Ascender Logo">
    </div>
    <nav>
      <a href="home.html">Sobre</a>
      <a href="dashboardaluno.html">Painel</a>
    </nav>
  </header>

  <!-- MAIN -->
  <main class="dashboard">
    <h2 class="titulo-tabela">TABELA DE AULAS</h2>
    <table class="tabela-aulas">
      <thead>
        <tr>
          <th>Modalidade</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Muay-Thay</td>
          <td class="editar"><button onclick="esgotouAula()" class="btn-editar">Inscrever</button></td>
        </tr>
        <tr>
          <td>Musculação</td>
          <td class="editar"><button onclick="esgotouAula()" class="btn-editar">Inscrever</button></td>
        </tr>
        <tr>
          <td>Spinning</td>
          <td class="editar"><button onclick="esgotouAula()" class="btn-editar">Inscrever</button></td>
        </tr>
        <tr>
          <td>Yoga</td>
          <td class="editar"><button onclick="esgotouAula()" class="btn-editar">Inscrever</button></td>
        </tr>
        <tr>
          <td>Zumba</td>
          <td class="editar"><button onclick="esgotouAula()" class="btn-editar">Inscrever</button></td>
        </tr>
        <tr>
          <td>Natação</td>
          <td class="editar"><button onclick="esgotouAula()" class="btn-editar">Inscrever</button></td>
        </tr>
      </tbody>
    </table>
  </main>

  <!-- MODAL -->
  <div id="meuModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="fecharModal()">&times;</span>
      <p><strong>ESSA AULA ESGOTOU! 😢</strong></p>
      <p><strong>VOLTE MAIS TARDE PARA VER SE HÁ NOVAS VAGAS!</strong></p>
    </div>
  </div>
</body>

  <!-- FOOTER -->
  <footer class="rodape">
    <div class="conteudo-rodape">
      <div class="coluna-esquerda">
        <h3>ASCENDER</h3>
        <p><a href="home.html">Sobre nós</a></p>
      </div>
      <div class="coluna-direita">
        <p>Rua das Acácias, 123</p>
        <p>Bairro Jardim Primavera</p>
        <p>São Paulo - SP</p>
        <p>CEP: 01234-567</p>
      </div>
    </div>
  </footer>
</body>
</html>


  <script src="../static/script.js"></script>
</html>
